SOAP/MAF.wsdl

<wsdl:definitions name="IMAFService" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://www.MAF.com" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.MAF.com" elementFormDefault="qualified">

            <xsd:complexType name="CreditCardType">
                <xsd:sequence>
                    <xsd:element name="ccType" type="xsd:string"/>
                    <xsd:element name="ccNum" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="CreditCardRequestType">
                <xsd:sequence>
                    <xsd:element name="Request" type="tns:CreditCardType"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="CreditCardResponseType">
                <xsd:sequence>                    
                    <xsd:element name="Message" type="xsd:string"/>
                    <xsd:element name="Result" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="CreditCardRequest" type="tns:CreditCardRequestType"/>
            <xsd:element name="CreditCardResponse" type="tns:CreditCardResponseType"/>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreditCardValidationRequestMessage">
        <wsdl:part name="Request" element="tns:CreditCardRequest"/>
    </wsdl:message>

    <wsdl:message name="CreditCardValidationResponseMessage">
        <wsdl:part name="Response" element="tns:CreditCardResponse"/>
    </wsdl:message>

    <wsdl:portType name="IMAF">
        <wsdl:operation name="VerifyCC">
            <wsdl:input name="CreditCardInfo" message="CreditCardValidationRequestMessage"/>
            <wsdl:output message="CreditCardValidationResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name = "IMAF_Binding" type = "IMAF">
        <soap:binding style = "rpc" transport = "http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name = "VerifyCC">
            <soap:operation soapAction = "http://example.com/ValidateCreditCard"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name = "MAFService">
        <wsdl:port binding = "IMAF_Binding" name = "MAF">
            <soap:address location = "http://www.MAF.com/IMAF" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>