SOAP/MAF.wsdl

<wsdl:definitions
    targetNamespace="http://www.MAF.com"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://www.MAF.com"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"    
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ws="http://www.MAF.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://www.MAF.com">

            <xsd:complexType name="CreditCardType">
                <xsd:sequence>
                    <xsd:element name="ccType" type="xsd:string"/>
                    <xsd:element name="ccNum" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="CreditCardResponseType">
                <xsd:sequence>                    
                    <xsd:element name="Message" type="xsd:string"/>
                    <xsd:element name="Result" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreditCardValidationRequestMessage">
        <wsdl:part name="Request" type="tns:CreditCardType"/>
    </wsdl:message>

    <wsdl:message name="CreditCardValidationResponseMessage">
        <wsdl:part name="Response" type="tns:CreditCardResponseType"/>
    </wsdl:message>

    <wsdl:portType name="IMAF">
        <wsdl:operation name="VerifyCC">
            <wsdl:input  message="ws:CreditCardValidationRequestMessage"/>
            <wsdl:output message="ws:CreditCardValidationResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name = "IMAF_Binding" type = "ws:IMAF">
        <soap:binding style = "rpc" transport = "http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name = "VerifyCC">
            <soap:operation soapAction = "http://example.com/ValidateCreditCard"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.MAF.com"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.MAF.com"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name = "MAFService">
        <wsdl:port binding = "ws:IMAF_Binding" name = "MAF">
            <soap:address location = "http://www.MAF.com/IMAF" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>