SOAP/RapidService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.RapidService.com/Services"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ws="http://www.example.com/webservice"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://www.RapidService.com/Services">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.RapidService.com/Services">
            
            <xsd:complexType name="Item">
                <xsd:sequence>
                    <xsd:element name="itemId" type="xsd:string" nillable="true"/>
                    <xsd:element name="quantity" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="orderQuouteElement">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderId" type="xsd:string" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="orderQuouteResponseElement">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="processQuoteElement">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderId" type="xsd:string" nillable="true"/>
                        <xsd:element name="items" type="tns:Item" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="processQuoteResponseElement">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="tns:Quote" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="Quote">
                <xsd:sequence>
                    <xsd:element name="supplierPrice" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="OrderQuoute">
        <wsdl:part name="parameters" type="tns:orderQuouteElement"/>
    </wsdl:message>
    <wsdl:message name="OrderQuouteResponse">
        <wsdl:part name="parameters" type="tns:orderQuouteResponseElement"/>
    </wsdl:message>
    <wsdl:message name="ProcessQuote">
        <wsdl:part name="parameters" type="tns:processQuoteElement"/>
    </wsdl:message>
    <wsdl:message name="ProcessQuoteResponse">
        <wsdl:part name="parameters" type="tns:processQuoteResponseElement"/>
    </wsdl:message>
    <wsdl:portType name="RapidService">
        <wsdl:operation name="OrderQuoute">
            <wsdl:input message="ws:OrderQuoute"/>
            <wsdl:output message="ws:OrderQuouteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessQuote">
            <wsdl:input message="ws:ProcessQuote"/>
            <wsdl:output message="ws:ProcessQuoteResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name = "RapidService_Binding" type = "ws:RapidService">
        <soap:binding style = "rpc" transport = "http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name = "OrderQuoute">
            <soap:operation soapAction = "http://example.com/OrderQuote"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.RapidService.com/Services"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.RapidService.com/Services"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name = "ProcessQuote">
            <soap:operation soapAction = "http://example.com/ProcessQuote"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.RapidService.com/Services"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.RapidService.com/Services"/>
            </wsdl:output>
        </wsdl:operation>        
    </wsdl:binding>
    
    <wsdl:service name = "RapidServiceQuoteService">
        <wsdl:port binding = "ws:RapidService_Binding" name = "IRapidServiceQuoteService">
            <soap:address location = "http://www.RapidService.com/IQuoteService" />
        </wsdl:port>
    </wsdl:service>           
    
</wsdl:definitions>