SOAP/SonyOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.Sony.com"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ws="http://www.example.com/webservice"
    xmlns:tns="http://www.Sony.com" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.Sony.com">
            <xsd:element name="OrderQuouteRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderId" type="xsd:string" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="orderQuouteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="OrderQuouteRequestMessage">
        <wsdl:part name="parameters" type="tns:OrderQuouteRequest"/>
    </wsdl:message>
    <wsdl:message name="OrderQuouteResponseMessage">
        <wsdl:part name="parameters" type="tns:orderQuouteResponse"/>
    </wsdl:message>
    <wsdl:portType name="SonyOrderService">
        <wsdl:operation name="OrderQuoute">
            <wsdl:input message="ws:OrderQuouteRequestMessage"/>
            <wsdl:output message="ws:OrderQuouteResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name = "Sony_Binding" type = "ws:SonyOrderService">
        <soap:binding style = "rpc" transport = "http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name = "OrderQuoute">
            <soap:operation soapAction = "http://example.com/OrderQuote"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.Sony.com"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.Sony.com"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
    
    <wsdl:service name = "SonyOrderService">
        <wsdl:port binding = "ws:Sony_Binding" name = "ISonyOrderService">
            <soap:address location = "http://www.Sony.com/ISonyOrderService" />
        </wsdl:port>
    </wsdl:service>   
    
    
</wsdl:definitions>