SOAP/SonyQuotation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.example.com/webservice"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ws="http://www.example.com/webservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://xmlns.oracle.com/SonyQuoteService">

    <wsdl:types>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://xmlns.oracle.com/SonyQuoteService">
            <xsd:complexType name="Item">
                <xsd:sequence>
                    <xsd:element name="itemId" type="xsd:string" nillable="true"/>
                    <xsd:element name="quantity" type="xsd:long"/>
                </xsd:sequence>

            </xsd:complexType>
            <xsd:complexType name="Quote">
                <xsd:sequence>
                    <xsd:element name="supplierPrice" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SonyQuoteServiceProcessRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderId" type="xsd:string" nillable="true"/>
                        <xsd:element name="items" type="tns:Item" nillable="true" minOccurs="0"
                            maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SonyQuoteServiceProcessResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="tns:Quote" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="SonyQuoteServiceRequestMessage">
        <wsdl:part name="payload" element="tns:SonyQuoteServiceProcessRequest"/>
    </wsdl:message>
    <wsdl:message name="SonyQuoteServiceResponseMessage">
        <wsdl:part name="payload" element="tns:SonyQuoteServiceProcessResponse"/>
    </wsdl:message>
    <wsdl:portType name="SonyQuoteService">
        <wsdl:operation name="Qoute">
            <wsdl:input message="ws:SonyQuoteServiceRequestMessage"/>
            <wsdl:output message="ws:SonyQuoteServiceResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>    
    
    <wsdl:binding name = "Sony_Binding" type = "ws:SonyQuoteService">
        <soap:binding style = "rpc" transport = "http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name = "Qoute">
            <soap:operation soapAction = "http://example.com/Quote"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>        
    </wsdl:binding>
    
    <wsdl:service name = "SonyQuoteService">
        <wsdl:port binding = "ws:Sony_Binding" name = "ISonyQuoteService">
            <soap:address location = "http://www.Sony.com/ISonyQuoteService" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
